.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1153px;
  height: 100%;
  margin-top: 110px;
  overflow: hidden;

  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1153px;
    height: 390px;
    position: relative;

    .about_box-1 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
      height: 100%;
      background-color: #42185e;
    }

    .about_box-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      height: 100%;
      position: relative;

      .about_box-3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 350px;
        line-height: 25px;
        font-weight: 300;
        font-size: 12px;
        font-weight: light;

        .ab-text {
          width: 100%;
        }
      }
    }

    .about_box-4 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 614px;
      height: 140px;
      padding: 0.75rem 0.5rem;
      position: absolute;
      left: 360px;

      .about {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        font-size: 12px;
        width: 100%;
        height: 24px;

        .line {
          width: 68px;
          height: 2px;
          color: #ffffff;
        }

        .aboutUs {
          width: 116px;
          height: 31px;
          font-weight: 400;
          font-family: Poppins, light;
          font-size: 18px;
          font-weight: 300;
          text-transform: uppercase;
        }
      }

      .about-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 78%;
        height: 80px;
        font-weight: 400;
        font-size: 45px;
        position: absolute;
        top: 55px;
        right: 0;
      }

      .about-text {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        line-height: 50px;
      }
    }
  }

  .metric-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 140px;
    font-size: 35px;
    font-weight: 300;
    margin-top: 100px;
    letter-spacing: 1.28px;

    .metric-1 {
      width: 100%;
      line-height: 45px;
    }
  }

  .metric-article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 360px;
    margin-top: 22px;

    .metric-01 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 100%;
      font-size: 12px;

      .met-1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 31px;
        font-size: 12px;
        line-height: 20px;
        text-align: center;

        .met-02 {
          height: 41px;
          line-height: 20px;

          .text-01 {
            margin-right: 20px;
          }

          .line-02 {
            width: 50px;
          }
        }

        .content-h1 {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 5px;

          .text-02 {
            text-align: center;
            font-size: 16px;
          }
        }
      }

      .met-01 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        line-height: 25px;
        font-weight: 300;

        .met-text {
          width: 100%;
        }
      }
    }
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 163px;

    .metro {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      font-size: 16px;
      font-weight: 300;

    }
  .metro-text{
        font-weight: 300;
    }

    .metro-01 {
      display: flex;
      flex-direction: column;
      width: 100%;
      font-size: 14px;
      font-weight: 300;
      height: 50px;
      line-height: 25px;

    }

    .metro-02 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 12px;
      width: 100%;
      color: #DD03DB;

      .faArrrow{
        margin-left: 5px;
      }
    }
  }
}