* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.metric-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 3438px;
  width: 100vw;
  overflow: hidden;
}

.conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1153px;
  max-height: 3438px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  opacity: 1;
  overflow: hidden;
  position: relative;
}

.conatiner .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 110px;
  font-size: 12px;
  font-weight: lighter;
  margin: 5.125rem auto 1.5rem auto;
}

.conatiner .footer-container .svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
}

.conatiner .footer-container .privacy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  margin-top: 10px;
}

.conatiner .footer-container .copyright-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 380px) {
  .metric-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
